.navbar{
    background-color: #7ea04d;
    padding-left: 40%;
    overflow: hidden;   
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900
}


@media only screen and (min-width: 1025px) and (max-width: 1300px) { 
  .navbar{    
    padding-left: 33%;
    margin: 0
    }
}

@media only screen and (min-width: 350px) and (max-width: 550px) { 
  .navbar{    
    padding-left: 150px;
    margin: 0
    }
}

@media only screen and (min-width: 0px) and (max-width: 349px) { 
  .navbar{    
    padding-left: 100px;
    margin: 0
    }
}

.nav-item{
    padding-right: 15%
}

.dropdown-menu{
z-index: 1500;    
    position: relative;
}

.dropdown-item{    
    width: 260px;
    padding-left: 5px;
    padding-right: 15px;
    z-index: 1050;    
    position: relative;
    
  
}