/*GENERAL***********/

html,
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	overflow-x: hidden;
	scroll-behavior: smooth;
    
}

header{
    background-color: #2b580c;        
    width: 100%;
    height: 25vh;
    position: relative;    
    display: inline-block;    
}

header h1{
    color: white;
    font-size: 500%;
    padding-top: 40px
}

header img{
    height: 150px;
    width: 150px;

}

.navbar{
    background-color: #7ea04d;
    padding-left: 40%
    
}

.nav-item{
    padding-right: 15%
}

.btn{    
    height: 50px;
    width: 150px;
    background-color: #2b580c;
    color: white;
    margin-bottom: 15px
}

.hidden{
    display: none
}

footer, footer a{
    background-color: #2b580c;  
    color: white;
    padding: 15px 0
}

footer a{
    color: white
}

.selected {
  background-color: #7ea04d;;
  color: white
}

/*HOME PAGE***********/

#homepage-header{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes example {
  0%   {height: 100vh; width: 100%; padding: 30vh 0}    
  100% {height: 25vh; width: 100%;}}

/*HERO SECTION HOME***********/

.hero-section{
    text-align: center;
	height: 60vh;
	background-image: url(../images/bridge.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	color: black;
}

.hero-section h1{
    padding-top: 50px
}

.jumbotron{

    padding: 0 15px 15px 15px;
    margin: 20px 50px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;    
}

.jumbotron h2{    
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px
}

.jumbotron ul{
    padding-left: 0
}

.jumbotron li{    
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*PROPERTY LISTING SECTION HOME***********/

.property-card-section{
    background-color: #7ea04d;
    color: white
}

.property-card-section h1{
    padding: 15px 0;
}

.property-card-section a{
    color: black
}

.card-list{
    margin-bottom: 25px;
}


/*CONTACT FORM HOME ***********/

.contact-section{
     text-align: center;
	height: 90vh;
	background-image: url("../images/bristol-cathedral.jpg");
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #F5F5DC;
}

.contact-section h2{
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-group{    
    margin-left: 33%; 
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 450px
}

.home-jumbotron{
    margin: 0 250px
}


/*PROPERTY LANDING PAGE **************************/

.option-section{
    background-color: #eefcd3;
}

#list-view{
    background-color: #7ea04d;;
    
}

.listing{
    
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;   
    margin-left: 0px;
    background-color: #eefcd3;

}

.list-map-options{
    padding-top: 15px
}

.list-view p{
    display: inline-block;
}

.prop-row{
    height: 30vh;    
}

.prop-row a{
    color: black;

}

hr{
    border-color: white;   
    ;
}


.prop-row li{
    list-style-type: none;
}


.list-pic img{
    padding-top: 10px;
    object-fit: cover;
    padding-bottom: 10px;
    height: 30vh;
    width: 45vh;
}

#map-view{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;    
  
}


/*PROPERTY LISTING PAGE **********************/

.basics-section, .photo-section{
    background-color: #eefcd3;
}

.basics-section h1{
    padding: 15px 0
}

.basics-section p{
    padding-bottom: 15px
}

.basics-section ul{
    list-style-type: none;
    padding-left: 0px;
}

#book-btn{
    
    padding-top: 12px;
    padding-bottom: 12px;
    width: 276px;
    margin-top: 15px;
}

.form-modal{
    margin-left: 25px
}

.explore-section{
    background-color: #7ea04d;;
}

.photo-carousel img {
    height: 450px;
    width: 80%;
    object-fit: contain;
    padding-bottom: 15px
}

.explore-section h2{    
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.explore-section h3{
    padding-bottom: 15px;
    color: white
}

#explore-map{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
}

