html,
body {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

header{
    background-color: black;        
    width: 100%;
    height: 25vh;
    position: relative;    
    display: inline-block;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes example {
  0%   {height: 100vh; width: 100%; padding: 30vh 0}    
  100% {height: 25vh; width: 100%;}
}


header h1{
    color: white;
    font-size: 500%;
    padding-top: 40px
}

header img{
    height: 150px;
    width: 150px;

}

.navbar{
    background-color: black;
    padding-left: 35%
    
}

.nav-item{
    padding-right: 15%
}

.hero-section{
    text-align: center;
	height: 50vh;
	background-image: url("../images/bristol-balloons.jpg");
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #F5F5DC;
}

.hero-section h1{
    padding-top: 200px
}

.info-section{
    background-color: lightgray
}

.info-section h2{    
    margin-top: 25px;
    margin-bottom: 25px;
}

.info-section ul{
    padding-left: 0
}

.info-section li{    
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-section button{    
    height: 50px;
    width: 150px;
}

.info-section img{    
    height: 40vh;
    width: 100%;
    padding-top: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
    padding-right: 25px;
    object-fit: contain;
}

.contact-section{
     text-align: center;
	height: 80vh;
	background-image: url("../images/bristol-cathedral.jpg");
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #F5F5DC;
}

.contact-section h2{
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-group{
    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}