/*GENERAL***********/



html,
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	overflow-x: hidden;
	scroll-behavior: smooth;
    
}

#property{
    display: none
}

header{
    background-color: #2b580c;        
    width: 100%;
    height: 35vh;
    position: relative;    
    display: inline-block;    
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  header {
    height: 55vh
    }

}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  header {
    height: 60vh
    }    
}

header h1{
    color: white;
    font-size: 500%;
    padding-top: 40px
}

@media only screen and (min-width: 300px) and (max-width: 550px) {  
    header h1{   
    font-size: 300%;    
    }
}

header img{
    height: 150px;
    width: 150px;

}

.navbar{
    background-color: #7ea04d;
    padding-left: 40%;
    overflow: hidden;   
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
}



@media only screen and (min-width: 1025px) and (max-width: 1300px) { 
  .navbar{    
    padding-left: 33%;
    margin: 0
    }
}

@media only screen and (min-width: 350px) and (max-width: 550px) { 
  .navbar{    
    padding-left: 150px;
    margin: 0
    }
}

@media only screen and (min-width: 0px) and (max-width: 349px) { 
  .navbar{    
    padding-left: 100px;
    margin: 0
    }
}

.nav-item{
    padding-right: 15%
}

.dropdown-item{    
    width: 260px;
    padding-left: 5px;
    padding-right: 15px;

}


.btn{    
    height: 50px;
    width: 150px;
    background-color: #2b580c;
    color: white;
    margin-bottom: 15px
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
  .btn{        
    width: auto;
   
}
}

.hidden{
    display: none
}

footer, footer a{
    background-color: #2b580c;  
    color: white;
    padding: 15px 0
}

a:hover{
    text-decoration: none
}

footer a{
    color: white
}

.selected {
  background-color: #7ea04d;;
  color: white
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2b580c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #7ea04d; 
}

/*HOME PAGE***********/

#homepage-header{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes example {
  0%   {height: 100vh; width: 100%; padding: 30vh 0}    
  100% {height: 35vh; width: 100%;}
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  @keyframes example {
  0%   {height: 100vh; width: 100%; padding: 30vh 0}    
  100% {height: 55vh; width: 100%;}
  }
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  @keyframes example {
  0%   {height: 100vh; width: 100%; padding: 30vh 0}    
  100% {height: 60vh; width: 100%;}
  }
}

/*HERO SECTION HOME***********/

.hero-section{
    text-align: center;
	height: 60vh;
	background-image: url(../images/bridge.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	color: black;
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .hero-section{
  height: 90vh;
    }
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .hero-section{
  height: 100%;
    }
}

.hero-section h1{
    padding-top: 50px
}

.jumbotron{

    padding: 0 15px 15px 15px;
    margin: 20px 50px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;    
}

.jumbotron h2{    
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px
}

.jumbotron ul{
    padding-left: 0
}

.jumbotron li{    
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*PROPERTY LISTING SECTION HOME***********/

.property-card-section{
    background-color: #7ea04d;
    color: white
}

.property-card-section h1{
    padding: 15px 0;
}

.property-card-section a{
    color: black
}

.card-list{
    margin-bottom: 25px;
    padding: 0 10px
}


/*CONTACT FORM HOME ***********/

.contact-section{
     text-align: center;
	height: 90vh;
	background-image: url("../images/bristol-cathedral.jpg");
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #F5F5DC;
}

@media only screen and (min-width: 0px) and (max-width: 1300px) {
  .contact-section{
    height: 100%
    }
}


.contact-section h2{
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-group{    
    margin-left: 33%; 
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 450px
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .form-group{
    margin-left: 17%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 349px) {
  .form-group{
    margin-left: 1%;
    width: 270px
    }
}

@media only screen and (min-width: 350px) and (max-width: 550px) {
  .form-group{
    margin-left: 10%;
    width: 270px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .form-group{
    margin-left: 10%;
    width: 400px
    }
}

.home-jumbotron{
    margin: 0 250px
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .home-jumbotron{
    margin: 0 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .home-jumbotron{
    margin: 0 100px;
    }
}


/*PROPERTY LANDING PAGE **************************/

.option-section{
    background-color: #eefcd3;
}

#list-view{
    background-color: #7ea04d;;
    
}

.listing{    
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;   
    margin-left: 0px;
    background-color: #eefcd3;
}

.list-map-options{
    padding-top: 15px
}

.list-view p{
    display: inline-block;
}

.prop-row{
    height: 30vh;    
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .prop-row{
    height: 50vh;
    }
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
  .prop-row{
    height: 105vh;
    }
    .prop-row ul{
        padding-left: 0px
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
   .prop-row{
    height: 40vh;
    }
}

.prop-row a{
    color: black;
}

hr{
    border-color: white;      
}


.prop-row li{
    list-style-type: none;
}


.list-pic img{
    padding-top: 10px;
    object-fit: cover;
    padding-bottom: 10px;
    height: 30vh;
    width: 45vh;
}

@media only screen and (min-width: 0px) and (max-width: 550px) {  
    .list-pic img{
        height: 40vh
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .list-pic img{
    height: 50vh;
    width: 65vh
    }
}


#map-view{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;    
  
}


/*PROPERTY LISTING PAGE **********************/



.basics-section, .photo-section{
    background-color: #eefcd3;
}

.basics-section h1{
    padding: 15px 0
}

.basics-section p{
    padding-bottom: 15px
}

.basics-section ul{
    list-style-type: none;
    padding-left: 0px;
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .basics-section ul{    
    padding: 0 10px;
}
}


#book-btn{
    
    padding-top: 12px;
    padding-bottom: 12px;
    width: 276px;
    margin-top: 15px;
}

.form-modal{
    margin-left: 25px
}

.explore-section{
    background-color: #7ea04d;;
}

.photo-carousel img {
    height: 450px;
    width: 80%;
    object-fit: contain;
    padding-bottom: 15px
}

.photo-carousel video {
    height: 450px;
    width: 80%;
    object-fit: contain;
    padding-bottom: 15px
}

.explore-section h2{    
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.explore-section h3{
    padding-bottom: 15px;
    color: white
}

#explore-map{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
}

/*ABOUT/CONTACT PAGE ******************/

.contact-hero-section{
    text-align: center;
	height: 50vh;
	background-image: url(../images/bristol.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	color: black;
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .contact-hero-section{
    height: 70vh;    
    }
}


@media only screen and (min-width: 300px) and (max-width: 550px) {
  .contact-hero-section{
    height: 60vh;    
    }
}

.about-section{
    background-color: #eefcd3;
    padding-top: 25px
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .about-section h2{    
    padding-top: 10px
}
}

.about-section img{
    width: 100%;
    height: 800px;
    object-fit: cover
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .about-section img{    
    height: 400px;    
}
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .about-section img{
    height: 900px;    
    }
}